<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/</property>
		<property name="hibernate.connection.username">SA</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property> 
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- second level cache configuration -->
		<!-- <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		
		<property name="hibernate.cache.use_query_cache">true</property> -->
		
		<!-- <mapping class="com.prathamesh.hibernatemapping.onetoone.Employee1"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address1"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.UniDirectionalWay1"/>
		
			<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee2"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address2"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.UniDirectionalWay2"/>
		
			<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee3"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address3"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.UniDirectionalWay3"/>
		
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee7"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address7"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.BiDirectionalWay3"/>
		
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee6"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address6"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.BiDirectionalWay2"/>
		
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee5"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address5"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.BiDirectionalWay1"/> -->
		
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Employee4"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.Address4"/>
		<mapping class="com.prathamesh.hibernatemapping.onetoone.UniDirectionalWay4"/>
		
	</session-factory>
</hibernate-configuration>